<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codebutchery.androidgpxsampleproject" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GpxFileActivity"
            android:label="Gpx File"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TracksActivity"
            android:label="Tracks"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SegmentsActivity"
            android:label="Segments"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TrackPointsActivity"
            android:label="Track Points"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".WayPointsActivity"
            android:label="Way Points"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RoutePointsActivity"
            android:label="Route Points"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RoutesActivity"
            android:label="Routes"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
